:root {
    --background-grey: rgb(42, 42, 42);
    --sidebar-background: rgb(0, 0, 0);
    --table-cell: rgb(75, 75, 75);
    --table-cell-dark: rgb(30, 30, 30);
    --table-lines: rgb(255, 255, 255);
}

body{
    display:flex;
    flex-direction:row;
    color:white;
}

aside{
    padding:1rem;
    background-color:var(--sidebar-background);
    display:none;
    transition:0.5s;
    max-height:100vh;
    overflow:auto;
}
aside h1 {
    margin-top:3rem;
}

main {
    background-color:var(--background-grey);
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    height:100vh;
    flex-grow:1;
}

button:hover {
    filter: brightness(0.5);
}



.dutyDay td {
    background-color: var(--table-cell);
    border: 1px solid var(--table-lines);
    padding:0.4em;
    width: 5em;
    height: 1.5em;
    text-align: center;

}

.dutyDay {
    display:flex;
}

.dayFirst td{
    border-top-width: 10px;
}

.dayFinal td {
    border-bottom-width: 10px
    
}


#namelist {
    border-collapse: separate;
    border-spacing: 0.3em 0.5em;
    text-align:center;
}
#namelist th {
    border: 1px solid var(--table-lines);
    padding: 0.4em 0.2em;
}
.person {
    padding: 0.7em 0.2em;
    border-radius:0.5em;
    width: 8em;
    text-align:center;
    font-size:1.2em;
}
.person:hover {
    filter: brightness(0.5);
}


#timings td{
    font-size:0.7em;
    width: 5em;
    height: 1.5em;
}

#prowlTable td {
    background-color: var(--table-cell-dark);
}

#deleter {
    background-color:#ffb0b0;
    color: rgb(46, 46, 46);
    margin:1rem 0;
    border: 1px solid black;
    width: 8em;
    height: 1.5em;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.7em;
}
#deleter:hover{
    filter: brightness(0.5);
}

#deleteAll {
    font-weight:700;
    font-size: 1em;
    background-color:rgb(187, 0, 0);
    color: rgb(255, 255, 255);
    margin:1rem 0;
    border: 1px solid black;
    text-align: center;
    padding: 1em 2em;
}
#deleteAll:hover {
    filter: brightness(0.5);
}

#menuButton {
    position:fixed;
    left:1rem;
    top:1rem;
    background-color:transparent;
    border:unset;
}

#check,#done {
    font-size: 1.5em;
    background-color:rgb(255, 255, 255);
    border:unset;
    border-radius: 0.8em;
    padding: 0.3em;
    

}